{% extends 'base.html.twig' %}

{% block title %}Fun Tricks!{% endblock %}

{% block body %}
  <div class="jumbotron jumbotron-fluid mb-5">
      <div class="container d-flex col-12">
        <div class="mx-auto offset-md-3 col-6 text-center pt-5 pb-5">
          <p>Espace communautaire pour apprendre, partager, discuter sur la discipline du snowboard</p>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="shadow col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card col-md-12 p-0">
          <img class="card-img-top" src="https://picsum.photos/400/301" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trick title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- renvoyer l'id trick path 'nom de la route', {param ID}) }} -->
            <a href="#" class="btn btn-primary btn-card stretched-link">Détail</a>
          </div>
        </div>
      </div>

      <div class="shadow col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card col-md-12 p-0">
          <img class="card-img-top" src="https://picsum.photos/400/302" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trick title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-card stretched-link">Détail</a>
          </div>
        </div>
      </div>

      <div class="shadow col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card col-md-12 p-0">
          <img class="card-img-top" src="https://picsum.photos/400/303" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trick title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-card stretched-link">Détail</a>
          </div>
        </div>
      </div>

      <div class="shadow col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card col-md-12 p-0">
          <img class="card-img-top" src="https://picsum.photos/400/304" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trick title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-card stretched-link">Détail</a>
          </div>
        </div>
      </div>

      <div class="shadow col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card col-md-12 p-0">
          <img class="card-img-top" src="https://picsum.photos/400/305" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Trick title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-card stretched-link">Détail</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
