{% extends 'base.html.twig' %}

{% block title %}Galerie d'image{% endblock %}

{% block body %}
    <div class="container showTricks">
        <h1>Liste d'image</h1>
        <div class="row">
            {% for image in images %}
                <div class="card" style="width: 25rem;">
                    {% if app.user.email is defined and image.trick.author.email ==  app.user.email %}
                        <div class="icon offset-10 col-2">
                            {{ include('image/_delete_form.html.twig')}}
                        </div>
                    {% endif %}

                    <img class="card-img-top col-md-12" alt="{{ image.name }}" src="{{ asset('uploads/images/') ~ image.name }}"/>
                    <div class="card-body">
                        <p class="card-text">{{image.trick.name}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

            <!-- balise fermeture boucle -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}
