<form method="post" action="{{ path('trick_delete', {'id': trick.id}) }}"
      onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce post?');" xmlns="http://www.w3.org/1999/html">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">

    <button type="submit" class="btn btn-danger m-2">{{ button_label|default('Supprimer') }} <i class="fa fa-trash"></i></button>

</form>
