{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-2">Ajouter une figure</h1>

            {{ form_start(form) }}
                {{ include('trick/_form.html.twig') }}

                <a href="{{ path('trick_index') }}" class="btn btn-outline-secondary m-2">Retour à la liste</a>
            {{ form_end(form) }}
    </div>
{% endblock %}
