{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <h1>Nouveau trick</h1>

    {{ include('trick/_form.html.twig') }}

    <a href="{{ path('trick_index') }}" class="btn btn-outline-secondary" >Retour à la liste</a>
{% endblock %}
