{% extends 'base.html.twig' %}

{% block title %}Modification profil utilisateur{% endblock %}

{% block body %}
    <div class="container showTricks">
        <h1 class="img-header mb-3 font-weight-normal">Modification du profil utilisateur</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('user/_delete_form.html.twig') }}

        <a href="{{ path('user_show', {'id': user.id}) }}" type="button" class="btn btn-outline-dark m-2">Retour au profil</a>
    </div>
{% endblock %}
